.approach {
    .section__title {
        margin-bottom: 0.75em;

        span {
            font-size: 2.5em;
            font-weight: 500;
        }
        @media (min-width: 768px) {
            margin-bottom: 0.25em;

            span {
                font-weight: 700;
                font-size: 5.625em;
            }
        }
    }

    color: $color_white;

    background-image: url("../img/approach_bg.jpg");

    padding-top: 14em;
    padding-bottom: 0;
    // position: relative;
    // z-index: 1;
    @media (min-width: 768px) {
        padding-top: 37.8125em;
        padding-bottom: 8.5em;
    }

    &__video {
        display: flex;
        align-items: center;
        margin-left: -2.25em;
        margin-top: 8em;
        @media (min-width: 768px) {
            margin-left: 0;
            margin-top: 5.3125em;
        }

        .play {
            flex: none;
        }

        .play__info {
            margin-left: 1.5em;
            @media (min-width: 768px) {
                margin-left: 2em;
            }
        }

        .play__label {
            margin-bottom: 1.25em;
            line-height: 1.25;
            @media (min-width: 768px) {
                margin-bottom: 1.4375em;
                line-height: 1.25;

            }

            span {
                font-size: 1em;
                @media (min-width: 768px) {
                    font-size: 1.25em;
                }
            }
        }

        .play__time {
            span {
                font-size: 0.5625em;
                @media (min-width: 768px) {
                    font-size: 1em;
                }
            }
        }
    }
}
