.certificate {
    overflow: hidden;
    padding-top: 1.75em;

    @media (min-width: 768px) {
        padding-top: 5.625em;

    }
    @media (max-width: 767px) {
        padding-bottom: 3em;
    }

    @media (max-width: 767px) {
        .section__title {
            text-align: left;
        }
    }

    &__figures {
        margin-bottom: 0.625em;
        @media (min-width: 768px) {
            margin-bottom: 5em;

        }

    }

    &__content {
        position: relative;
        @media (min-width: 768px) {
            position: initial;
            display: flex;
            min-height: 34.375em;

        }
    }

    &__left {
        @media (min-width: 768px) {
            // width: 35em;
            width: 37.75em;
            flex: none;
            // margin-right: 5.25em;
            margin-right: 2.5em;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

    }

    &__right {
        width: 20em;
        @media (min-width: 768px) {
            min-width: 0;
            width: 75em;
            flex: none;

        }
    }

    &__description {
        margin: 1em 0;
        line-height: 1.4;
        @media (min-width: 768px) {
            line-height: $main_line_height;
            margin: 0;
        }

        p {
            font-size: 0.625em;
            margin: 0;
            @media (min-width: 768px) {
                font-size: 1.5em;
                margin: 2em 0;

            }
        }
    }

    &__control {
        position: absolute;
        left: 0;
        bottom: -1.25em;

        @media (min-width: 768px) {
            position: initial;
            left: auto;
            bottom: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 25em;
        }
    }

    &__arrows {}

    &__dotted {}

    &__slider {
        // margin-right: -2.25em;
    }

    &__item {
        @media (max-width: 767px) {
            // width: 9.375em!important;

        }

    }

    &__doc {
        height: 13.375em;
        @media (min-width: 768px) {
            height: 34.375em;
        }

        a {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }

}

.figures {
    &__list {
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 768px) {
            justify-content: space-between;
            flex-wrap: nowrap;

        }

    }

    &__item {
        display: flex;
        margin-bottom: 0.5em;
        flex-direction: column;
        justify-content: space-between;

        width: 50%;

        @media (min-width: 768px) {
            margin-bottom: 0;
            width: auto;
        }

        @media (max-width: 767px) {
            // &:nth-child(2n + 1) {
            //     width: 65%;
            // }

            &:nth-child(2n) {
                // width: 35%;
                align-items: flex-end;
            }
        }

        &:last-child {
            // align-items: flex-end;
            @media (min-width: 768px) {
                align-items: flex-start;
                width: 20em;
            }

        }

    }

    &__top {
        line-height: 1.0417;

        span {
            font-size: 2em;
            font-weight: 500;

            @media (min-width: 768px) {
                font-size: 6em;

            }
        }

        small {
            font-size: 0.416666em;
        }

        sup {
            font-size: 0.25em;
        }
    }

    &__bottom {
        line-height: 0.6;
        @media (min-width: 768px) {
            line-height: 1.4587;
        }

        span {
            font-size: 0.5em;
            @media (min-width: 768px) {
                font-size: 1.5em;

            }
        }
    }

    &__link {
        a {
            font-size: 0.75em;
            @media (min-width: 768px) {
                font-size: 2em;

            }
            font-weight: 500;
            color: $color_black;

            &:hover {
                color: $color_warning;
            }
        }
    }

}
