.gifts {
    .section__title {
        text-align: left;
    }
    padding-top: 2em;
    padding-bottom: 4em;
    @media (min-width: 768px) {
        overflow: hidden;
        padding-top: 6.875em;
    }

    &__content {
        position: relative;

        @media (min-width: 768px) {

            position: initial;
            display: flex;
        }
    }

    &__left {
        @media (min-width: 768px) {
            flex: none;
            width: 34.375em;
            margin-right: 6.25em;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__caption {}

    &__label {
        margin-top: 0.5em;
        @media (min-width: 768px) {
            margin-top: 2.75em;

        }

        span {
            font-size: 0.625em;
            @media (min-width: 768px) {
                font-size: 1.5em;

            }
        }
    }

    &__control {
        position: absolute;
        bottom: -1.5em;
        left: 0;
        @media (min-width: 768px) {
            position: initial;
            left: auto;
            bottom: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__dotted {}

    &__arrows {}

    &__right {
        @media (min-width: 768px) {
            width: 77.5em;
            /* 1240/16 */
        }
    }

    &__slider {}

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        color: $color_white;
        height: 11.875em;
        /* 190/16 */
        padding: 1em;

        @media (min-width: 768px) {
            height: 25em;
            padding: 2.25em 2.5em;

        }

    }

    &__top {}

    &__title {
        margin-bottom: 0.125em;

        span {
            font-weight: 700;
            font-size: 0.875em;
            @media (min-width: 768px) {
                font-size: 2em;

            }
        }
    }

    &__desc {
        span {
            font-size: 0.625em;
            @media (min-width: 768px) {
                font-size: 1em;

            }
        }
    }

    &__main {}

    &__price {
        margin-bottom: 0.125em;

        span {
            font-size: 1em;
            font-weight: 700;
            @media (min-width: 768px) {
                font-size: 2.25em;

            }

        }
    }

    &__oldprice {
        span {
            font-size: 0.625em;
            @media (min-width: 768px) {
                font-size: 0.875em;
            }
        }

        b {
            position: relative;
            font-weight: 400;

            &:after {
                content: '';
                position: absolute;
                top: 65%;
                left: 0;
                width: 100%;
                border-bottom: 0.0625em solid $color_white;
            }

        }
    }

    &__bottom {
        .btn {
            @media (max-width: 767px) {
                font-size: 0.6em;
                width: fit-content;
            }

            span {
                @media (min-width: 768px) {
                    text-transform: none;

                }
            }
        }
    }

}
