.otherProjects {
    .section__title {
        text-align: left;
    }
    @media (max-width: 767px) {
        padding-bottom: 0;
    }

    &__list {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__item {
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: 768px) {
            margin-bottom: 0;
            width: 39.0625em;
        }
    }

    &__slider {}

    &__control {
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1.25em;
        padding-right: 1.25em;
        bottom: 0.5em;
        @media (min-width: 768px) {
            bottom: 1.5em;
            padding-left: 2.5em;
            padding-right: 1.875em;

        }
    }

    &__dotted {}

    &__arrows {}

    &__content {
        background-color: $second_color;
        color: $color_white;
        font-size: 0.5em;
        padding: 1em;

        @media (min-width: 768px) {
            background-color: $color_white;
            color: $second_color;
            font-size: 1em;
            padding: 1.375em 0.5em 0 0.5em;
        }

        ul {
            display: flex;
            justify-content: space-between;

            li {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                height: 2.9375em;

                
            }

            small {
                font-size: 0.75em;
            }

            span {
                font-size: 1.5em;

                sup {
                    font-size: 0.6em;
                }
            }
        }

    }

    &__top {
        display: flex;
        align-items: center;
    }

    &__bottom {
        margin-top: 0.5em;
    }

    &__title {
        // height: 3.1875em;
        flex-grow: 1;
  
        span {

            font-weight: 700;
            font-size: 1.25em;
        }

        small {
            display: block;
        }
    }

    &__action {
        // width: 19em;
        flex: none;
        margin-left: 0.5em;

        @media (min-width: 768px) {
        }

        .btn {
            text-transform: uppercase;
            min-height: auto;
            padding: 1em 0.75em;
            line-height: 1;
            &:after {
                content: none;
            }
            &:first-child {
                margin-right: 0.25em;
            }

            @media (max-width: 767px) { 
                width: auto;
            }
        }
    }

}

.otherProjects__slider {
    .projects__beforeAfter {
        height: 15.625em!important;
        @media (min-width: 768px) {
            height: 28.125em!important;

        }

        .twentytwenty-handle {

            @media (min-width: 768px) {
                font-size: 0.5em;
            }

        }

    }

    .swiper-slide {
        height: 15.625em;
        @media (min-width: 768px) {
            height: 28.125em;

        }

    }

}
