.partOfTeam {
    .section__caption {
        text-align: left;
        @media (max-width: 767px) {
            margin-bottom: 0.875em;
        }
        @media (min-width: 768px) {
            width: 55em;
        }
    }

    .section__title {
        text-align: left;
    }

    .section__subtitle {
        @media (max-width: 767px) {
            span {
                font-size: 0.625em;
            }
        }
        @media (min-width: 768px) {
            margin-top: 2.375em;
            line-height: 1.5;
        }
    }

    .team__list {
        margin-top: 0.875em;
        margin-bottom: 7.5em;
        @media (min-width: 768px) {
            width: 47em;
            margin-top: 3.75em;
            margin-bottom: 26em;

        }
    }

    .container_center {
        @media (max-width: 767px) {
            padding: 0 2.3125em;
        }
    }

    &__bg {
        position: relative;
        background-image: url("../img/partOfTeam_bg_m.jpg");
        background-position: bottom;
        background-size: contain;
        padding-bottom: 1em;

        @media (min-width: 768px) {
            background-image: url("../img/partOfTeam_bg.webp");
            padding-bottom: 5.125em;

        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            height: 23em;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30.83%, rgba(0, 0, 0, 0.75) 73.27%);
            @media (min-width: 768px) {
                height: 48.75em;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 32.15%, rgba(0, 0, 0, 0.75) 100%);

            }

        }
    }

    &__content {
        position: relative;
        z-index: 1;
    }

    &__label {
        margin-bottom: 0.75em;
        line-height: 0.85;
        @media (min-width: 768px) {
            line-height: $main_line_height;
            margin-bottom: 5em;
        }

        span {
            color: $color_white;
            font-weight: 500;
            font-size: 0.625em;
            @media (min-width: 768px) {
                font-size: 2em;

            }
        }
    }

    &__figures {
        color: $color_white;
    }

    .figures {
        &__list {}

        &__item {
            // &:last-child {
            //     @media (max-width: 767px) {
            //         width: 65%;
            //     }
            //     @media (min-width: 768px) {
            //         width: auto;
            //
            //     }
            // }
            //
            // @media (max-width: 767px) {
            //     &:nth-child(3) {
            //         width: 35%;
            //     }
            // }
        }

        &__top {}

        &__bottom {}

    }
}
