.presentation {
    position: relative;
    padding-top: 2em;
    padding-bottom: 0;
    margin-bottom: 18.6em;
    height: 31.25em;
    @media (min-width: 768px) {
        margin-bottom: 10.625em;
        padding-top: 5.625em;
        height: 80em;
    }

    .section__title {
        color: $color_white;
        text-align: center;
        @media (min-width: 768px) {
            width: 74em;
            margin: 0 auto;
        }
    }
    
    background-image: url("../img/presentation_bg_m.webp");
    @media (min-width: 768px) {
        background-image: url("../img/presentation_bg.webp");
    }

    &__form {
        margin-top: 16.5em;

        background-color: #F1F5F5;
        border-radius: 1px;
        padding: 1.375em 0.9375em 1.75em;

        @media (min-width: 768px) {
            margin-top: 0;
            position: absolute;
            right: 0;
            bottom: -7.6875em;
            display: flex;
            padding: 2.5em 15.25em 2.5em 4.375em;
            width: 113.75em;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 18.75em;
                background-image: url("../img/presentation_mask.webp");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .btn {
            text-align: left;
        }

    }

    &__caption {
        color: #1C1C1C;
        width: 14em;
        margin: 0 auto;
        @media (min-width: 768px) {
            width: auto;
            margin: 0;
            flex: none;
            width: 11.875em;
            margin-right: 5.625em;
        }

    }

    &__title {
        margin-bottom: 0.25em;
        @media (min-width: 768px) {
            margin-bottom: 0.625em;

        }

        span {
            font-weight: 500;
            font-size: 1.25em;
            @media (min-width: 768px) {
                font-size: 1.875em;

            }
        }
    }

    &__subtitle {
        span {
            font-weight: 300;
            font-size: 0.8125em;
            @media (min-width: 768px) {
                font-size: 1.25em;

            }
        }
    }

    &__label {
        margin-top: 1em;
        @media (min-width: 768px) {
            margin-top: 2.5em;
        }

        span {
            font-size: 0.75em;
            @media (min-width: 768px) {
                font-size: 2.25em;

            }
        }
    }

    &__list {
        line-height: 1;
        margin: 1em 0;
        @media (min-width: 768px) {
            line-height: 1.3;
            margin: 2.5em 0;
        }

        .presentation__item {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0.9em;
                left: 0;
                width: 0.5em;
                height: 0.5em;
                border-radius: 50%;
                background-color: $color_white;
                font-size: 0.65em;
                @media (min-width: 768px) {
                    font-size: 1em;

                }
            }

            padding-left: 0.75em;
            margin-bottom: 0.25em;

            @media (min-width: 768px) {
                padding-left: 1.5em;
                margin-bottom: 1em;

            }

            &:last-child {
                margin-bottom: 0;
            }

            span {

                font-size: 0.625em;
                font-weight: 300;
                @media (min-width: 768px) {
                    font-size: 1.5em;

                }

            }

            b {
                font-weight: 500;
            }
        }
    }

    &__text {
        line-height: 1;
        margin-top: 1em;
        @media (min-width: 768px) {
            line-height: 1.5;
            margin-top: 2em;

        }

        span {
            color: $color_white;
            font-size: 0.625em;
            @media (min-width: 768px) {
                font-size: 1.25em;

            }
        }
    }

    &_sm {
        color: $color_white;

        @media (max-width: 767px) {
            margin-bottom: 23em;
        }
        @media (min-width: 768px) {
            height: 66.5em;

        }

        .section__title {
            width: auto;
            text-align: left;
        }

        .presentation__title span {
            font-weight: 400;
        }

        .presentation__form {
            margin-top: 4em;
            @media (min-width: 768px) {
                align-items: center;
                padding-right: 100px;

                &:after {
                    content: none;

                }
            }

            .form__privacy {
                span {
                    color: $main_color;
                }
            }
            //
            // .btn {
            //     span {
            //         text-transform: none;
            //     }
            // }
        }
    }

    &_left {
        .section__title {
            width: auto;
            text-align: left;
        }

        .presentation__title span {
            font-weight: 400;
        }

        .presentation__form {

            @media (max-width: 767px) {
                margin-top: 12em;

            }
        }

    }

}

.presentation_remont {

    background-image: url("../img/presentation_2_m.jpg");
    @media (min-width: 768px) {
        background-image: url("../img/presentation_2.webp");
    }
    @media (max-width: 767px) {
        height: 40.75em;
    }

    .presentation__form {
        @media (max-width: 767px) {
            margin-top: 16em;
        }
    }
}

.presentation_design {
    background-image: url("../img/presentation_3.webp");
    background-position: left;

    @media (min-width: 768px) {
        background-position: center;
    }
}

.presentation_design2 {
    background-image: url("../img/presentation_4.webp");
    background-position: 14%;

    @media (min-width: 768px) {
        background-position: center;
    }
}
