.quiz {
    padding-bottom: 0;

    position: relative;
    z-index: 2;

    &__caption {
        margin-bottom: 1.25em;
        @media (min-width: 768px) {
            margin-bottom: 4.625em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 4.375em;
        }
    }

    &__description {
        margin-top: 0.75em;
        line-height: 1;
        text-align: center;
        @media (min-width: 768px) {
            text-align: left;
            line-height: 1.6;
            padding-left: 5em;
        }

        span {
            font-size: 0.75em;
            @media (min-width: 768px) {
                font-size: 1.125em;

            }
        }

        b {
            font-weight: 700;
        }
    }

    &-container {
        background-color: #F8F8F8;
        border-radius: 1px;

        padding: 0.875em 0.9375em 1.25em;
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            width: 100%;
            position: relative;
            padding: 3em 8em 3em 7.1875em;
            min-height: 57.8125em;

        }
    }

    &-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (min-width: 768px) {
            width: 54.125em;
        }
    }

    &-right {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 20em;
            text-align: center;

        }

        &__bg {
            @media (min-width: 768px) {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                width: 43.75em;
            }

        }

        &__persone {
            @media (min-width: 768px) {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 35em;
                height: 57.8125em;

            }
        }

        &__content {
            @media (min-width: 768px) {
                position: relative;
                color: $color_white;
                z-index: 1;
                line-height: 1.3;

                &:before {
                    content: '\e90e';
                    font-family: 'icomoon';
                    position: absolute;
                    top: -2.25em;
                    left: 50%;
                    transform: translateX(-50%);
                    font-size: 2em;
                }

                p {
                    font-size: 1.125em;
                    margin: 0.875em 0;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

            }
        }
    }

    &-footer {
        margin-top: 5.375em;

        @media (min-width: 768px) {
            margin-top: 4.5em;
            display: inline-flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;

        }

        &__hint {
            line-height: 0.8;
            text-align: center;
            margin-top: 0.9375em;
            /* 15/16 */
            @media (min-width: 768px) {
                margin-top: 0;
                text-align: left;
                line-height: 1.25;

            }
        }

        span {
            font-size: 0.5625em;
            color: $color_black;
            @media (max-width: 767px) {
                br {
                    display: none;
                }
            }
            @media (min-width: 768px) {
                font-size: 1em;

            }

        }

        b {
            font-weight: 500;
        }
    }
}

.quiz label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.quiz label.active~p {
    font-weight: 700;
}

.quiz label.active~.quiz-question__text-outer p {
    font-weight: 700;
}

.quiz label:hover .quiz-question__check {
    // border: 0.125em solid $color_warning;
    @media (min-width: 768px) {
        border: 0.125em solid $color_warning;

    }
}

.quiz label input {
    display: none!important;
}

.quiz label input:checked~.quiz-question__check {
    background-color: $color_warning;
    color: $color_white;
}

.quiz label input:checked~.quiz-question__check::after {
    background: $color_warning;
}

.quiz label input[type="radio"]~.quiz-question__check {
    border-radius: 50%;
}

// .quiz label input[type="radio"]~.quiz-question__check::after {
//     border-radius: 50%;
// }

.quiz label input[type="checkbox"]~.quiz-question__check {
    border-radius: 1px;
}

// .quiz label input[type="checkbox"]~.quiz-question__check::after {
//     border-radius: 5rem;
// }

.quiz-line {
    position: relative;
    width: 100%;
    padding: 0.3125em 0.375em;
    border-radius: 0.125em;
    background-color: $color_white;

    height: 2.1875em;
    margin-bottom: 1.75em;
    font-size: 0.7143em;
    @media (min-width: 768px) {
        margin-bottom: 2.5em;
        font-size: 1em;
    }

    &__bg {
        height: 100%;
        border-radius: 0.125em;
        background: $color_warning url("../img/quiz/line.png") center left repeat;
        background-size: auto 100%;
        -webkit-animation: quizLine 12s linear infinite;
        animation: quizLine 12s linear infinite;
    }

    &__text {
        line-height: 0.8;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        span {
            font-size: 0.8125em;
            font-weight: 400;

            &.bold {
                font-weight: 700;
            }
        }
    }

}

.quiz-question {
    display: none;
    position: relative;
    z-index: 1;

    &.active {
        display: block;
    }

    &__photo {
        // border: 1px solid green;
        // padding-bottom: 4.0625em;
        /* 65/16 */
    }

    &__text {
        // border: 1px solid violet;

    }

    &__file {
        // border: 1px solid yellow;
    }

    &__content {
        @media (min-width: 768px) {
            margin-top: 7em;
        }
    }

    &__slider {
        // border: 1px solid #000;
    }

    &__title {
        text-align: center;
        margin-bottom: 1.25em;

        @media (min-width: 768px) {
            margin-bottom: 2.5em;
        }

        span {
            font-size: 1em;
            color: #0E0E0E;
            @media (min-width: 768px) {
                font-size: 2.5em;
            }
        }

        .quiz-question__content-block {
            line-height: 1.1;
            margin-top: 1em;
            display: block;
            p {
                font-size: 0.75em;
            }

            @media (max-width: 767px) {
                br {
                    display: none;
                }
            }
            @media (min-width: 768px) {
                margin-top: 1.04165em;
                line-height: 1.4;
                p {
                    font-size: 1.5em;
                }

            }
        }
    }

    &__wrap {
        &_grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            // grid-template-rows: 14.0625em 14.0625em;

            grid-auto-rows: 7.75em;
            grid-column-gap: 0.8125em;
            grid-row-gap: 1.0625em;

            @media (min-width: 768px) {
                grid-auto-rows: 14.0625em;
                grid-column-gap: 3.125em;
                grid-row-gap: 4.0625em;
            }

            overflow-y: auto;
            overflow-x: hidden;
            padding-right: 0.5em;
            height: 17em;
            @media (min-width: 768px) {
                padding-right: 1em;
                height: 35em;
            }

            &::-webkit-scrollbar {
                width: 0.3125em;
                height: 0.125em;
                background-color: rgba($color_white, 0.1);
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba($color_warning, 1);
                border-radius: 0;
                box-shadow: inset 1px 1px 10px rgba($color_warning, 1);
            }

            &::-webkit-scrollbar-thumb:hover {
                // background-color: #253861;
            }

            scrollbar-color: rgba($color_white, 1) rgba($color_white, 1);
            /* «цвет ползунка» «цвет полосы скроллбара» */
            // scrollbar-width: auto | thin | none;  /* толщина */
            scrollbar-width: thin;
            /* толщина */

        }

        &_text {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(2.5em, auto);
            grid-column-gap: 0.5em;
            grid-row-gap: 0.5em;
            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: minmax(4.6875em, auto);
                grid-column-gap: 1.875em;
                grid-row-gap: 1.375em;

            }
        }

        &_file {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(2.5em, auto);
            grid-column-gap: 0.5em;
            grid-row-gap: 0.5em;

            @media (min-width: 768px) {
                grid-auto-rows: 4.6875em;
                grid-column-gap: 1.875em;
                grid-row-gap: 1.375em;
                grid-template-columns: 1fr;

            }

        }

        &_content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            // height: 100%;

            .quiz-question__slider-input .input-check {
                font-size: 1.5em;

            }

            .quiz-question__slider-input p {
                font-size: 1.25em;

            }
        }

    }

    &__photo-block {
        position: relative;
        // overflow: hidden;

    }

    &__photo-label {
        position: relative;
        flex-direction: column;

        width: 100%;
        height: 100%;
    }

    &__photo-img {
        border-radius: 0.125em;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__check {
        flex: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.875em;
        height: 1.875em;
        background: $color_white;
        border: 0.125em solid $color_white;
        transition: 0.3s;
        color: #D8D8D8;
        font-size: 0.5em;

        @media (min-width: 768px) {
            font-size: 1em;
        }

        i {
            font-size: 0.375em;
            transition: 0.3s;
        }
    }

    &__photo-check {
        position: absolute;
        bottom: 0;
        left: 0;
        @media (min-width: 768px) {
            bottom: -2.5em;

        }
    }

    &__photo-text {
        flex: none;
        display: flex;
        align-items: center;
        // border: 1px solid #000;
        margin-left: 2.625em;
        margin-top: 0.6em;
        height: 1.875em;
        font-size: 0.5em;

        @media (min-width: 768px) {
            font-size: 1em;

        }

        span {
            color: $color_black;
            font-size: 1em;

        }

    }

    &__text-block {
        position: relative;
    }

    &__text-label {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 0.5556em;
        padding: 1em 1.5em 1em 1em;
        background-color: $color_white;

        @media (min-width: 768px) {
            padding: 1em 1.5625em;
            font-size: 1em;
        }

        p {
            line-height: 1.15;
            margin: 0;
            font-size: 1.125em;
            color: $color_black;
        }

    }

    &__text-check {
        flex: none;
        margin-right: 1.128em;
        background-color: #F1F5F5;
        color: #D8D8D8;
        font-size: 1.125em;
        @media (min-width: 768px) {
            font-size: 1em;
        }
    }

    &-hint {
        position: absolute;
        top: 0;
        right: 0;

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.5em;
            height: 2.5em;
            background-color: $color_warning;
            color: $color_white;
            font-size: 0.5em;

            @media (min-width: 768px) {
                font-size: 0.75em;

            }

        }

        p {
            // border: 1px solid #000;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            transform: translate(-50%,-110%);
            padding: 0.75em;
            margin: 0;

            background-color: $color_white;
            white-space: normal;
            // border-radius: 1em;
            text-align: center;
            box-shadow: 0 0 10rem rgb(0 0 0 / 10%);
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            font-size: 0.6em;
            width: 8em;
            @media (min-width: 768px) {
                padding: 1em;
                width: 10em;
                font-size: 0.75em;
            }

        }

        &:hover {
            p {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &-video {
        position: absolute;
        top: 0;
        right: 0;

        .play {
            font-size: 0.2em;
            @media (min-width: 768px) {
                font-size: 0.3em;

            }
        }

    }

    &__file-block {
        // @media (min-width: 768px) {
        //     &:last-child {
        //         grid-column-start: 1;
        //         grid-column-end: 3;
        //     }

        // }
    }

}

.quiz-question__file-subtitle {
    text-align: center;
}

.send-form__file {

    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1em 2em 1em 2.75em;
    background-color: $color_white;
    font-size: 0.5em;

    @media (min-width: 768px) {
        font-size: 1em;
    }

    p {
        color: $color_black;
        margin: 0;
        font-size: 1.125em;

    }

    &:after {
        content: '\e909';
        font-family: 'icomoon';
        color: #D6D6D6;
        font-size: 1.125em;

    }

}

.send-form__link {
    input[type=url] {
        width: 100%;
        background-color: $color_white;
        border: none;
        font-family: $main_font_family;
        color: $color_black;
        outline: none;
        font-weight: 400;

        padding: 1.445em 2.44445em;
        transition: 0.3s;
        font-size: 0.606em;
        @media (min-width: 768px) {
            font-size: 1.125em;

        }

        &:hover {
            // border: 0.0625em solid $input_hover_border_color;
            // background-color: $input_hover_bg_color;
        }

        &:focus {
            // border: 0.0625em solid $input_focus_border_color;
            // background-color: $input_focus_bg_color;
        }

        &.invalid {
            // background-color: $input_error_bg_color;
            // border: 0.0625em solid $input_error_border_color;
            @include placeholder {
                color: $color_danger;
            }
        }
        // Placeholder for input +++++++++++++++
        @include placeholder {
            color: #D6D6D6;
        }
    }

}

.quiz-question__slider-input {
    margin-top: 6.25em;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.5em;
    width: fit-content;

    @media (min-width: 768px) {
        font-size: 1em;
        margin-left: 0;
        margin-right: 0;
    }

    label {
        display: flex;
        align-items: center;
    }

    p {
        margin: 0;
        font-size: 1em;
        color: $color_black;

    }

    .input-check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.875em;
        height: 1.875em;
        border-radius: 1px;
        background-color: $color_white;
        margin-right: 0.75em;
        font-size: 0.5em;

        font-size: 1em;
        // @media (min-width: 768px) {
        // }

        i {
            font-size: 0.5em;
            color: $color_white;
        }
    }

}

.quiz-question__content-block {

    font-size: 0.5em;
    @media (min-width: 768px) {
        font-size: 1em;

    }

    p {
        font-size: 1.5em;
        color: #0E0E0E;
        margin: 0.75em 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.quiz-question__slider {
    &_wrap {
        font-size: 0.5em;
        @media (min-width: 768px) {
            font-size: 1em;

        }
    }

    &_top {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_main {
        margin: 4.375em 0 0.75em;

        .ui-slider {
            border-radius: 0;
            border: 0;
            height: 0.3125em;
        }

        .ui-slider-handle {
            top: 50%;
            left: -0.9375em;
            /* 15/16 */
            transform: translateY(-50%);
            width: 1.875em;
            height: 1.875em;
            border: 0.25em solid $color_white;
            border-radius: 0;
            background-color: $color_warning;
            transition: background-color 0.3s;
            outline: none;

            &.ui-state-hover {
                // background-color: darken;
            }
        }

        .ui-slider-range {
            background-color: darken($color_warning, 10%);
            border-radius: 0;
        }

    }

    &_bottom {
        display: flex;
        justify-content: space-between;
    }

    &_measure {
        span {
            font-weight: 400;
            font-size: 1.5em;
            color: $color_black;
        }

        sup {
            font-size: 0.6em;
        }
    }

    &_input {
        width: 9.375em;
        margin: 0 1.5em;

        // Input text and textarea ================================================

        input[type=number],
        input[type=tel],
        input[type=text] {
            background-color: $color_white;
            border: none;
            font-family: $main_font_family;
            color: #0E0E0E;
            outline: none;
            font-weight: 400;
            transition: 0.3s;

            padding: 0.917em 1em;
            font-size: 1.5em;
            width: 100%;
            text-align: center;

            &:hover {}

            &:focus {}

        }
    }

    .quiz-question__slider-input {
        @media (min-width: 768px) {
            margin-top: 10em;
        }
    }

}

.quiz-question__slider-input input:checked~.input-check {
    background-color: $color_warning;
}

.quiz-arrow {
    // flex: none;
    position: relative;
    overflow: hidden;

    font-family: $main_font_family;
    font-weight: 500;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: $color_white;
    background-color: $color_warning;

    border: none;
    border-radius: 1px;
    outline: none;
    text-decoration: none;
    max-width: 100%;
    cursor: pointer;
    text-align: center;
    width: 10.3125em;
    line-height: 1.15;
    padding: 1.625em 2.5em;
    transition: 0.3s;

    margin: 0 0.9375em;
    font-size: 0.5em;
    @media (min-width: 768px) {
        font-size: 1em;

    }

    p {
        margin: 0;
        font-size: 1.25em;
    }

    @media (min-width: 768px) {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: -150%;
            height: 100%;
            width: 3em;
            transform: skewX(-45deg);
            background: linear-gradient(90deg, rgba($color_white, 0.2), rgba($color_white, 1));
            animation: flare 4s infinite linear;
        }
    }

    &:after {
        content: '\e920';
        font-family: 'icomoon';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2.5em;
        font-size: 0.5em;
        @media (min-width: 768px) {
            font-size: 0.834em;
        }

    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__prev {
        background-color: #CFCFCF;
        display: none;

        &:after {
            content: none;

        }

    }

    &__next {
        display: none;
        &.active {
            display: flex;
        }
        justify-content: flex-start;
        background-color: $color_warning;
        color: $color_white;

        &:hover {
            background-color: darken($color_warning, 10%);

            @media (min-width: 768px) {
                &:after {
                    -webkit-animation: shake 0.6s linear alternate infinite;
                    animation: shake 0.6s linear alternate infinite;
                }
            }
        }

        &:active {
            background-color: $color_warning;
        }

        &:disabled {
            background-color: lighten($color_warning, 10%);
            cursor: not-allowed;

            &:before {
                content: none;
            }

            &:after {
                -webkit-animation: none;
                animation: none;
            }
        }

    }

}

.quiz-result {
    .quiz-line {
        @media (min-width: 768px) {
            margin-bottom: 5.9375em;
        }
    }
    color: $color_white;
    display: none;
    position: relative;
    background-image: url("../img/quiz/quiz-result_bg.jpg");

    padding: 1.5em 1em;

    @media (min-width: 768px) {
        padding: 3em 7.1875em 8.5em;
    }

    &__wrap {
        @media (min-width: 768px) {
            width: 53.125em;
        }
    }

    &__title {
        margin-bottom: 1em;
        @media (min-width: 768px) {
            margin-bottom: 0.5em;

        }

        span {
            font-weight: 500;
            font-size: 1.25em;
            @media (min-width: 768px) {
                font-size: 2.5em;

            }
        }
    }

    &__text {
        // text-align: center;
        line-height: 1;
        @media (min-width: 768px) {
            line-height: 1.35;
        }

        span {
            font-weight: 300;
            font-size: 0.75em;
            @media (max-width: 767px) {
                br {
                    display: none;
                }
            }
            @media (min-width: 768px) {
                font-size: 1.875em;
            }
        }
    }

    &__messenger {
        margin-top: 1em;
        @media (min-width: 768px) {
            margin-top: 2.25em;
            width: 22.25em;

        }
    }

    &__phone {

        background-image: url("../img/quiz/quiz_hand.png");

        position: relative;
        bottom: -1.5em;
        right: -3em;
        width: 12.5em;
        height: 15.625em;

        @media (min-width: 768px) {
            position: absolute;
            bottom: 0;
            right: 14.25em;
            width: 38.625em;
            height: 48.3125em;

        }
    }

    .form__row {
        @media (min-width: 768px) {
            margin-bottom: 0.875em;
        }

        .btn {
            align-items: center;

            &:after {
                right: 12em;
                @media (min-width: 768px) {
                    right: 4.5em;

                }
            }
        }
    }

    .form__check input {
        display: flex;
    }

    .form__label span {
        color: $color_white;
    }

}

.quiz-result__messenger input:checked~.input-check i {
    color: $color_white;
}

@-webkit-keyframes quizLine {
    0% {
        background-position: 0 center;
    }

    100% {
        background-position: 23.5rem center;
    }
}

@keyframes quizLine {
    0% {
        background-position: 0 center;
    }

    100% {
        background-position: 23.5rem center;
    }
}
