.reviews {
    .section__title {
        text-align: left;
    }

    padding-top: 1.75em;
    @media (min-width: 768px) {
        padding-top: 5.625em;
    }

    &__wrap {}

    &__top {
        margin-bottom: 1.875em;
        @media (min-width: 768px) {
            margin-bottom: 4.375em;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__caption {
        margin-bottom: 1.125em;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }

    &__label {
        margin-bottom: 0.5em;
        @media (min-width: 768px) {
            margin-bottom: 0.375em;

        }

        span {
            font-size: 0.625em;
            color: $second_color;
            @media (min-width: 768px) {
                font-size: 1.5em;

            }
        }
    }

    &__list {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            gap: 1em;
            width: 48.75em;

        }
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 0.6875em;

        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: 768px) {
            margin-bottom: 0;
            align-items: flex-start;
        }

        span {
            line-height: 1.35;
            color: $second_color;
            font-size: 0.625em;
            @media (min-width: 768px) {
                font-size: 1.25em;

            }
        }
    }

    &__mark {
        margin-right: 2.5em;
        @media (min-width: 768px) {
            margin-right: 1.875em;

        }
    }

    &__bottom {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;

        }
    }

    &__col {
        margin-bottom: 0.75em;

        &:last-child {
            margin-bottom: 0;
        }
        @media (min-width: 768px) {
            margin-bottom: 0;
            width: 23.875em;
        }

        &_video {
            @media (min-width: 768px) {
                width: 47.875em;
            }
        }
    }

    &__img {
        position: relative;
        // height: 100%;
        height: 21.875em;
        /* 350/16 */
        @media (min-width: 768px) {
            height: 34.375em;
        }

        a {
            &:after,
            &:before {
                content: '';
                position: absolute;
                opacity: 0;
                transition: opacity 0.3s;

            }

            &:before {
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: linear-gradient(180deg, rgba(19, 19, 19, 0.35) 0%, #D7B56D 100%);
            }

            &:after {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                width: 3.4375em;
                height: 3.4375em;
                background-image: url("../img/open.svg");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

        }

        &:hover {
            a {
                &:after,
                &:before {
                    opacity: 1;

                }

            }
        }

    }

    &__video {
        position: relative;
        display: flex;
        align-items: flex-end;

        height: 12.5em;
        padding: 0.625em 7.5em 0.625em 1.125em;

        @media (min-width: 768px) {
            height: 34.375em;
            padding: 1.5625em 8.75em 1.5625em 3em;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(28, 28, 28, 0.5);

        }

        .play {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 0.35em;
            @media (min-width: 768px) {
                font-size: 1em;

            }
        }
    }

    &__content {
        color: $color_white;
        position: relative;
        z-index: 1;
    }

    &__name {
        line-height: 1;
        @media (min-width: 768px) {
            line-height: $main_line_height;
        }

        span {
            font-size: 0.625em;
            font-weight: 500;
            @media (min-width: 768px) {
                font-size: 1em;

            }
        }
    }

    &__time {
        @media (min-width: 768px) {
            margin-top: 0.375em;

        }

        span {
            font-size: 0.5em;
            @media (min-width: 768px) {
                font-size: 0.75em;

            }
        }
    }

}
