/* start task */
.task {
    padding-bottom: 0;

    .section__title {
        text-align: left;
        letter-spacing: -0.02em;
        width: 14.75em;
        @media (min-width: 768px) {
            width: 68.75em;
            letter-spacing: normal;

        }
    }

    &__caption {
        margin-bottom: 1em;
        @media (min-width: 768px) {
            margin-bottom: 3.875em;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__desc {
        margin-top: 1em;
        line-height: 0.9;
        @media (min-width: 768px) {
            margin-top: 0;
            width: 20.625em;
            line-height: 1.667;
        }

        span {
            font-size: 0.625em;
            @media (min-width: 768px) {
                font-size: 1.125em;

            }
        }
    }

    &__grid {
        color: $color_white;
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: 30em;
        }
    }

    &__item {
        overflow: hidden;

        @media (min-width: 768px) {
            &:first-child {
                grid-column-start: 1;
                grid-column-end: 3;

                .btn {
                    display: inline-flex;
                }

                .task__go {
                    display: none;
                }

            }

            &:nth-child(4) {
                grid-column-start: 1;
                grid-column-end: 4;

                .btn {
                    display: inline-flex;
                }

                .task__go {
                    display: none;
                }
            }

        }

        position: relative;
        height: 25em;

        @media (min-width: 768px) {
            height: auto;
        }

        &:hover {
            .task__content {
                &:before {
                    opacity: 1;
                }
            }

            .task__img {
                transform: scale(1.1);
            }

            .task__item_info {
                background-image: url("../img/task_5.png");
            }

        }

    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(1);
        transition: transform 0.3s;

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: 0.3s;
        }

        &:before {
            background: linear-gradient(180deg, rgba(13, 13, 13, 0) 23.44%, rgba(13, 13, 13, 0.7) 100%);
        }

        &:after {
            background: linear-gradient(270deg, rgba(13, 13, 13, 0) 24.48%, rgba(13, 13, 13, 0.35) 100%);
        }
    }

    &__content {
        position: relative;
        overflow: hidden;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 100%;
        height: 100%;

        padding: 2.3125em 2.3125em 2em;
        @media (min-width: 768px) {
            padding: 2.3125em 3em;

        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(270deg, rgba(13, 13, 13, 0) 24.48%, rgba(215, 181, 109, 0.35) 100%);
            z-index: -1;
            opacity: 0;
            transition: opacity 0.3s;

        }

    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__label {
        // margin-top: 2.1em;
        text-transform: uppercase;
        letter-spacing: 0.75em;
        @media (min-width: 768px) {
            // margin-top: 3.25em;
        }

        span {
            position: relative;
            font-size: 0.5em;
            font-weight: 700;
            -webkit-writing-mode: vertical-rl;
            writing-mode: tb-rl;
            transform: scale(-1);
            z-index: -1;
            @media (min-width: 768px) {
                font-size: 0.625em;
            }

        }

        &:before {
            content: '';
            display: block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            background-color: $color_white;
            height: 3.75em;
            width: 1px;
            @media (min-width: 768px) {
                height: 5em;
            }
        }

    }

    &__number {
        letter-spacing: 0.05em;
        text-transform: uppercase;

        span {
            font-weight: 500;
            font-size: 1.125em;
        }
    }

    &__title {
        a {
            text-decoration: none;
            color: $color_white;
            font-size: 1.25em;
            font-weight: 500;
            @media (min-width: 768px) {
                font-size: 1.75em;
            }

            &:hover {
                color: $color_warning;
            }
        }
        span {
            color: $color_white;
            font-size: 1.25em;
            font-weight: 500;
            @media (min-width: 768px) {
                font-size: 1.75em;
            }
        }
    }

    &__wrap {
        display: none;
    }

    &__inner {
        margin-top: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (min-width: 768px) {
            margin-top: 1.375em;

        }
    }

    &__subtitle {
        line-height: 0.9;
        @media (min-width: 768px) {
            line-height: $main_line_height;
        }

        span {
            font-size: 0.75em;
            @media (min-width: 768px) {
                font-size: 1em;

            }
        }
    }

    &__btn {
        .btn {
            display: none;
        }
    }

    &__go {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.0625em;
        height: 4.0625em;
        text-decoration: none;
        color: $color_white;
        background-color: $color_warning;
        font-size: 0.677em;

        @media (min-width: 768px) {
            font-size: 1em;
        }

        @media (min-width: 768px) {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: -150%;
                height: 100%;
                width: 2em;
                transform: skewX(-45deg);
                background: linear-gradient(90deg, rgba($color_white, 0.2), rgba($color_white, 1));
                animation: flare 3s infinite linear;
            }
        }

        i {
            @media (min-width: 768px) {
                display: inline-block;
                transform: scale(1);
                transition: transform 0.3s;
            }
        }

        &:hover {
            background-color: darken($color_warning, 10%);
            @media (min-width: 768px) {
                i {
                    transform: scale(1.2);
                }
            }
        }
    }

    &__item_info {
        background-color: #141414;
        

        .task__content {
            &:before {
                background-position: right;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("../img/task_5.webp");
            }
        }
        .task__bottom {
            font-size: 1.1em;
        }

    }

    &__head {
        span {
            font-size: 0.9375em;
            @media (min-width: 768px) {
                font-size: 1.125em;
            }
        }
    }

    &__messenger {
        margin-top: 1.375em;
        margin-bottom: 0.8125em;

        @media (min-width: 768px) {
            margin-top: 1.75em;
            margin-bottom: 0.8125em;
        }

        @media (max-width: 767px) {
            .messenger {
                justify-content: space-between;
            }

            .messenger__label {
                margin-right: 0;

            }

        }

    }

    &__mail {
        margin-bottom: 1.4375em;
        @media (min-width: 768px) {
            margin-bottom: 2.25em;

        }
    }

    &__phone {
        display: flex;
        flex-direction: column;

        small {
            font-size: 0.875em;
            letter-spacing: 0.02em;
            margin-bottom: 0.5em;
        }

    }

    &__link {
        a {
            text-decoration: none;
            color: $color_white;
            font-size: 1.25em;
            font-weight: 500;
            @media (min-width: 768px) {

                font-size: 1.5625em;
            }

            @media (min-width: 768px) {
                &:hover {
                    color: $color_warning;
                }
            }
        }

    }

}
/* end task */

