@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?9bqq1w");
  src: url("fonts/icomoon.eot?9bqq1w#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?9bqq1w") format("truetype"), url("fonts/icomoon.woff?9bqq1w") format("woff"), url("fonts/icomoon.svg?9bqq1w#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon_], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_star:before {
  content: "";
}

.icon_arrow_left:before {
  content: "";
}

.icon_arrow_right:before {
  content: "";
}

.icon_arrow_left_sm:before {
  content: "";
}

.icon_arrow_right_sm:before {
  content: "";
}

.icon_arrow_deg:before {
  content: "";
}

.icon_to_top:before {
  content: "";
}

.icon_drop:before {
  content: "";
}

.icon_drop_bold:before {
  content: "";
}

.icon_viber:before {
  content: "";
}

.icon_telegram:before {
  content: "";
}

.icon_whatsapp:before {
  content: "";
}

.icon_youtube:before {
  content: "";
}

.icon_insta:before {
  content: "";
}

.icon_wk:before {
  content: "";
}

.icon_clip:before {
  content: "";
}

.icon_percentage:before {
  content: "";
}

.icon_phone:before {
  content: "";
}

.icon_pdf:before {
  content: "";
}

.icon_close:before {
  content: "";
}

.icon_open:before {
  content: "";
}

.icon_plus:before {
  content: "";
}

.icon_plus_deg:before {
  content: "";
}

.icon_location:before {
  content: "";
}

.icon_quotes:before {
  content: "";
}

.icon_mark:before {
  content: "";
}

.icon_download:before {
  content: "";
}

.icon_play:before {
  content: "";
}

.icon_mail:before {
  content: "";
}

.icon_info:before {
  content: "";
}