$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon_star: "\e90d";
$icon_arrow_left: "\e917";
$icon_arrow_right: "\e900";
$icon_arrow_left_sm: "\e915";
$icon_arrow_right_sm: "\e908";
$icon_arrow_deg: "\e920";
$icon_to_top: "\e904";
$icon_drop: "\e91e";
$icon_drop_bold: "\e91f";
$icon_viber: "\e91b";
$icon_telegram: "\e91c";
$icon_whatsapp: "\e91d";
$icon_youtube: "\e911";
$icon_insta: "\e90f";
$icon_wk: "\e910";
$icon_clip: "\e909";
$icon_percentage: "\e90a";
$icon_phone: "\e901";
$icon_pdf: "\e902";
$icon_close: "\e903";
$icon_open: "\e905";
$icon_plus: "\e906";
$icon_plus_deg: "\e913";
$icon_location: "\e907";
$icon_quotes: "\e90e";
$icon_mark: "\e912";
$icon_download: "\e914";
$icon_play: "\e919";
$icon_mail: "\e90b";
$icon_info: "\e90c";

