.toTop {
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 2em;
    right: 1em;
    @media (min-width: 768px) {
        bottom: 5em;
        right: 2em;

    }

    a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.125em;
        height: 3.125em;
        border-radius: 0.0625em;
        background-color: $color_warning;
        color: $color_white;
        font-size: 0.75em;

        @media (min-width: 768px) {
            font-size: 1em;

        }

    }

    i {
        font-size: 1.25em;
        -webkit-animation: action 0.5s linear alternate infinite;
        animation: action 0.5s linear alternate infinite;
    }

}

@keyframes action {
    0% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(2px);

    }
}
