/* Global variables */
/* ======================================================================== */
$main_font_family: "DINPro";
$second_font_family: "Roboto Slab";
$main_line_height: 1.2;
$main_font_size: 1em;

$container_width: 109.5em;
$container_width_sm: 100.75em;
/* 1612/16 */

$footer_height: auto;

// Color collection for elements
$main_color: #2E2C2A;
$second_color: #1C1A1A;
$color_white: #ffffff;
$color_black: #000000;

$color_dark: #141414;
$color_warning: #D7B56D;

$color_primary: #7b8287;
$color_success: #36a566;
$color_info: #03a9f4;
$color_danger: #ff1a1a;

// .icon-instagram {
// 	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
// 	// -webkit-background-clip: text;
// 	/* Also define standard property for compatibility */
// 	// background-clip: text;
// 	// -webkit-text-fill-color: transparent;
// 	&:before {
// 		font-size: 1.75em;
// 	}
// }

/* Grid */
/* ======================================================================== */
$grid_padding: 1.25em;
/* 20/16 */

/* Form */
/* ======================================================================== */
// Input variables

// Input color
$input_color: $main_color;
$input_bg_color: #fff;
$input_border_color: #ddd;
$input_placeholder_color: #ddd;

// Input hover color
$input_hover_color: $main_color;
$input_hover_bg_color: $input_bg_color;
$input_hover_border_color: $input_border_color;
$input_hover_placeholder_color: $input_placeholder_color;

// Input focus color
$input_focus_color: $main_color;
$input_focus_bg_color: $input_bg_color;
$input_focus_border_color: $input_border_color;
$input_focus_placeholder_color: $input_placeholder_color;

// Input disabled color
$input_disabled_color: #fff;
$input_disabled_bg_color: #ccc;
$input_disabled_border_color: #ccc;
$input_disabled_placeholder_color: #fff;

// Input error color
$input_error_color: red;
$input_error_bg_color: $input_bg_color;
$input_error_border_color: red;
// $input_error_placeholder_color: red;

// Button variables
$btn_default_bg_color: #ddd;
$btn_default_text_color: $main_color;
$btn_contrast_text_color: $color_white;
$btn_default_bg_color_hover: darken($btn_default_bg_color, 7%);
$btn_default_bg_color_active: darken($btn_default_bg_color, 10%);